<div (window:keyup)="onKey($event)"></div>
<ng-container *ngIf="step">
	<ng-container *ngIf="isYoutube(step)">
		<div class="overlay" [ngStyle]="{top: 0, left:0, width: '100%', height: '100vh', position: 'fixed'}"></div>
		<iframe width="853" height="480" [src]="getVideoUrl()" frameborder="0" allowfullscreen class="video"></iframe>
		<div class="ytpopup">
			<div class="content">
				<div class="controls flex-container">
					<div class="step-button">
						<a *ngIf="canGoBack()" (click)="previous()"><< Prev</a>
						<a *ngIf="!canFinish()" (click)="next()">Next >></a>
					</div>
					<span class="step-counter">({{progress}}/{{total}})</span>
					<a *ngIf="!canFinish()" (click)="skip()" class="end-button">End tour</a>
					<a *ngIf="canFinish()" (click)="finish()" class="end-button">finish</a>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="isHtml(step)">
		<div class="overlay" [ngStyle]="{top: 0, left:0, width: '100%', height: documentHeight, position: 'fixed'}"></div>
		<div class="popup">
			<div class="content">
				<div [innerHtml]="asHtmlTourStep(step).body" class="body"></div>
				<hr class="horizontal-line"/>
				<div class="controls flex-container">
					<div class="step-button">
						<a *ngIf="canGoBack()" (click)="previous()"><< Prev</a>
						<a *ngIf="!canFinish()" (click)="next()">Next >></a>
					</div>
					<span class="step-counter">({{progress}}/{{total}})</span>
					<a *ngIf="!canFinish()" (click)="skip()" class="end-button">End tour</a>
					<a *ngIf="canFinish()" (click)="finish()" class="end-button">finish</a>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="isElement(step)">
		<div class="overlay" [ngStyle]="{left: 0, top: 0, width: asElementTourStep(step).documentWidth, height: asElementTourStep(step).top}"></div>
		<div class="overlay" [ngStyle]="{left: 0, top: asElementTourStep(step).top, width: asElementTourStep(step).left, height: asElementTourStep(step).fromTop}"></div>
		<div class="overlay" [ngStyle]="{left: asElementTourStep(step).left, top: asElementTourStep(step).bottom, width: asElementTourStep(step).fromLeft, height: asElementTourStep(step).toBottom}"></div>
		<div class="overlay" [ngStyle]="{left: asElementTourStep(step).right, top: asElementTourStep(step).top, width: asElementTourStep(step).toRight, height: asElementTourStep(step).height}"></div>
		<div class="explanation" [ngStyle]="asElementTourStep(step).style">
			<div class="content">
				<div [innerHtml]="asElementTourStep(step).body"></div>
				<hr class="horizontal-line"/>
				<div class="controls flex-container">
					<div class="step-button">
						<a *ngIf="canGoBack()" (click)="previous()"><< Prev</a>
						<a *ngIf="!canFinish()" (click)="next()">Next >></a>
					</div>
					<span class="step-counter">({{progress}}/{{total}})</span>
					<a *ngIf="!canFinish()" (click)="skip()" class="end-button">End tour</a>
					<a *ngIf="canFinish()" (click)="finish()" class="end-button">finish</a>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
